# Environments
.env
.envrc

# Python byte-compiled, optimized
__pycache__/
*.py[codz]
*$py.class

# Python virtual environments
.env*/
.ENV*/
.venv*/
.VENV*/
env*/
ENV*/
venv*/
VENV*/

# Python package managers
__pypackages__/
.python-version
#Pipfile.lock
poetry.lock
pdm.lock
uv.lock
pixi.lock

# Python analyzers, linters
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

# General stuff
*.log
*.bak
*.tmp
*.swp
*.orig
*.rej
*.lnk
*.dat
*.wav
*~
Thumbs.db
__MACOSX/
.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# macOS: Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# macOS: Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Visual Studio Code
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.history/
*.code-workspace

# IDE stuff
.idea/
.abstra/
.spyderproject
.ropeproject