[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
starlette = "*"
uvicorn = "*"
aiofiles = "*"
python-multipart = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.9"
